page-expense-report {
  .total-savings, .totalSavings {
    font-weight: 700;
  }

  .sub-items-div {
    padding-left: 30px;
  }

  .sub-item {
    font-size: 12px !important;
  }

  .specified-dur {
    word-wrap: break-word;
    white-space: initial;
    font-weight: 700;
    text-align: right;
  }

}
