<ion-header>

  <ion-navbar>
    <ion-title>Expense Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="expenses-list">
    <ion-item>
        Daily
    </ion-item>
      <div class="sub-items-div">
          <ion-item class="sub-item">
              Flux: {{dailyBills}}$
          </ion-item>
          <ion-item class="sub-item">
              Net: {{dailyNet}}$
          </ion-item>
      </div>
    <ion-item>
        Weekly
    </ion-item>
      <div class="sub-items-div">
          <ion-item class="sub-item">
              Flux: {{weeklyBills}}$
          </ion-item>
          <ion-item class="sub-item">
              Net: {{weeklyNet}}$
          </ion-item>
      </div>
    <ion-item>
        Monthly
    </ion-item>
      <div class="sub-items-div">
          <ion-item class="sub-item">
              Flux: {{monthlyBills}}$
          </ion-item>
          <ion-item class="sub-item">
              Net: {{monthlyNet}}$
          </ion-item>
      </div>
    <ion-item>
        Yearly:
    </ion-item>
      <div class="sub-items-div">
          <ion-item class="sub-item">
              Flux: {{annualBills}}$
          </ion-item>
          <ion-item class="sub-item">
              Net: {{annualNet}}$
          </ion-item>
      </div>
      <ion-item>
          One-Time: {{oneTimeBills}}$
      </ion-item>
    <ion-item class="total-savings">
        Total Savings: {{totalSavings}}$
    </ion-item>
      <ion-item class="total-savings">
          <ion-label>Start Date: </ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [placeholder]="startDate" [max]="2030" (ionChange)="updateStartDate($event)"></ion-datetime>
      </ion-item>
    <ion-item class="total-savings">
        <ion-label>End Date: </ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [placeholder]="endDate" [max]="2040" (ionChange)="updateEndDate($event)"></ion-datetime>
    </ion-item>
      <ion-item class="specified-dur">
          {{specifiedDuration}}
      </ion-item>
  </ion-list>
</ion-content>
