page-home {
  .add-btn {
    margin-right: 20px;
    font-weight: 700;
    color: black;
  }

  .exp-title-col {
    word-wrap: break-word;
    white-space: initial;
  }

  .exp-amount-col {
    word-wrap: break-word;
    white-space: initial;
    opacity: 0.5;
    position: relative;
    top: 3px;
    font-size: 12px;
  }

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }
}
