<ion-header>
  <ion-toolbar>
    <ion-buttons left (click)="clearExpenses()" style="padding-left: 15px;">
      <button ion-button icon-only class="clear-btn">Clear</button>
    </ion-buttons>
    <div class="title">
      Expenses
    </div>
    <ion-buttons right (click)="addExpense()">
      <button ion-button icon-only class="add-btn"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        End of Year: {{endDate}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        Savings: {{totalSavings}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <a (click)="viewFullExpenseReport()">View Full Expense Report</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="expenses-list">
    <ion-item-sliding *ngFor="let exp of expenses">
      <ion-item>
        <ion-row>
          <ion-col col-8 class="exp-title-col">
            {{exp.title}}
          </ion-col>
          <ion-col col-4 class="exp-amount-col">
           {{getIncrememntSymbol(exp.increment)}} ${{exp.amount}} - {{getExpFrequency(exp.frequency)}}
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button class="delete-option" color="danger" (click)="deleteExpense(exp)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
