page-add-expense-popover {
    .chip {
      border: 1px solid black;
      border-radius: 20px;
      padding: 6px;
      min-width: 76px;
      background-color: white;
    }

  .chip-selected {
    background-color: #488aff !important;
    color: white;
  }

  .dollars-logo {
    font-size: 20px;
    opacity: 0.6;
  }

  .cross-icon {
    transform: rotate(45deg);
    font-size: 30px;
    position: absolute;
    right: 15px;
  }

  .chip-grid {
    margin-top: 15px;
  }

  .submit-btn {
    margin: 15px auto;
    width: 80%;
  }

  .increment {
    width: 100% !important;
    border: 1px solid black;
    padding: 6px;
    background-color: white;
  }
}
