<ion-header>
  <ion-row>
    <ion-col text-right col-12 tappable (click)="close()">
      <ion-icon name="add" item-end class="cross-icon"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-grid class="chip-grid">
    <ion-row>
      <ion-col col-auto text-center>
        <button class="chip" [ngClass]="selected === 'one-time' ? 'chip-selected' : ''" (click)="selected = 'one-time'">
          One-Time
        </button>
      </ion-col>
      <ion-col col-auto text-center>
        <button class="chip" [ngClass]="selected === 'daily' ? 'chip-selected' : ''" (click)="selected = 'daily'">
          Daily
        </button>
      </ion-col>
      <ion-col col-auto text-center>
        <button class="chip" [ngClass]="selected === 'weekly' ? 'chip-selected' : ''" (click)="selected = 'weekly'">
          Weekly
        </button>
      </ion-col>
      <ion-col col-auto text-center>
        <button class="chip" [ngClass]="selected === 'monthly' ? 'chip-selected' : ''" (click)="selected = 'monthly'">
          Monthly
        </button>
      </ion-col>
      <ion-col col-auto text-center>
        <button class="chip" [ngClass]="selected === 'annual' ? 'chip-selected' : ''" (click)="selected = 'annual'">
          Annual
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-center>
        <button class="increment" [ngClass]="increment === 'deposit' ? 'chip-selected' : ''" (click)="increment = 'deposit'">
          Deposit
        </button>
      </ion-col>
      <ion-col col-6 text-center>
        <button class="increment" [ngClass]="increment === 'subtract' ? 'chip-selected' : ''" (click)="increment = 'subtract'">
          Subtract
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content class="no-scroll">
  <ion-list no-lines no-border text-center>

    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="tel" [(ngModel)]="amount"></ion-input>
      <ion-icon name="logo-usd" item-end class="dollars-logo"></ion-icon>
    </ion-item>
    <button ion-button class="submit-btn" (click)="addAmount()">Submit</button>
  </ion-list>
</ion-content>
